NEXT_PUBLIC_SUPABASE_URL=https://zstjzmcdghaybwypqfpf.supabase.co
NEXT_PUBLIC_SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpzdGp6bWNkZ2hheWJ3eXBxZnBmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTQ2Mzk5MjIsImV4cCI6MjAzMDIxNTkyMn0.Tk4ijzqFjHi0N_RaB7-j0qn933UVmamfspJzUOQENtw